body {
    margin: 0;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    table-layout: fixed;
    margin: 10px auto;
}

.styled-table .table-header-row {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabble-cell {
    padding: 12px 15px;
    overflow: hidden;
}

.tabble-cell p {
    display: inline;
}

.table-body-row {
    border-bottom: 2px solid #dddddd;
}

.table-body-row:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-body-row:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-form {
    display: flex;
    width: 50%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #009879;
    padding: 15px;
    border-radius: 25px;
    box-sizing: border-box;
    margin: 10px auto;
}

.styled-form .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.styled-form .form-row input,
.styled-form .form-row select {
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin: 5px 0;
    transition: background-color 1s;
    box-sizing: border-box;
    width: 100%;
}

.styled-form .form-row input[type="submit"] {
    flex: 1;
}

.styled-form .form-row label {
    color: white;
    padding: 0 10px;
}

.styled-form .form-row input:focus,
.styled-form .form-row select:focus {
    outline: none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 255, 0.25);
    /* Border bottom */
    box-shadow: 0 -2px 0 0 rgba(0, 0, 255, 0.25);
    /* Border top */
    box-shadow: -2px 0 0 0 rgba(0, 0, 255, 0.25);
    /* Border left */
    box-shadow: 2px 0 0 0 rgba(0, 0, 255, 0.25);
    /* Border right */
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.25);
    /* All the borders by using the spread properties */
}

.styled-form .form-row input:hover,
.styled-form .form-row select:hover {
    background-color: turquoise;
}

.styled-form .form-row h1 {
    color: white;
    padding: 0 10px;
    font-family: sans-serif;
    margin: 5px 0;
}

.profile-image-cell {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 25px;
    float: left;
    height: 25px;
}

.table-cell-with-image-and-paragraph {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-cell-with-image-and-paragraph p {
    padding-left: 5px;
}

@media only screen and (max-width: 700px) {
    .styled-form {
        width: 100%;
    }
}