body {
    margin: 0;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    width: 100%;
}

.styled-table .table-header-row {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    width: 0px;
    gap: 2px;
    height: 0px;
    align-self: center;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.up {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.table-header-cell {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.tabble-cell {
    padding: 12px 15px;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabble-cell p {
    display: inline;
}

.table-body-row {
    border-bottom: 2px solid #dddddd;
}

.table-body-row:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-body-row:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #009879;
    padding: 15px;
    border-radius: 25px;
    box-sizing: border-box;
}

.styled-form .form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.styled-form .form-row input,
.styled-form .form-row select {
    padding: 10px;
    border-radius: 25px;
    border: none;
    margin: 5px 0;
    transition: background-color 1s;
    box-sizing: border-box;
    width: 100%;
}

.styled-form .form-row input[type="submit"] {
    flex: 1;
}

.styled-form .form-row label {
    color: white;
    padding: 0 10px;
}

.styled-form .form-row input:focus,
.styled-form .form-row select:focus {
    outline: none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 255, 0.25);
    /* Border bottom */
    box-shadow: 0 -2px 0 0 rgba(0, 0, 255, 0.25);
    /* Border top */
    box-shadow: -2px 0 0 0 rgba(0, 0, 255, 0.25);
    /* Border left */
    box-shadow: 2px 0 0 0 rgba(0, 0, 255, 0.25);
    /* Border right */
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.25);
    /* All the borders by using the spread properties */
}

.styled-form .form-row input:hover,
.styled-form .form-row select:hover {
    background-color: turquoise;
}

.styled-form .form-row h1 {
    color: white;
    padding: 0 10px;
    font-family: sans-serif;
    margin: 5px 0;
}

.profile-image-cell {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    width: 25px;
    float: left;
    height: 25px;
    min-width: 25px;
}

.table-cell-with-image-and-paragraph {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-cell-with-image-and-paragraph p {
    padding-left: 5px;
}

.input-type-file {
    background-color: white;
}

.tooltip {
    position: absolute;
    visibility: visible;
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    font-size: 1.5em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.hide {
    visibility: collapse;
}

cms-component {
    display: grid;
    margin: 10px;
    gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: calc(100vh - 20px);
    box-sizing: border-box;
}

cms-component .styled-form {
    align-self: stretch;
}

.table-container {
    height: 100%;
    overflow-y: auto;
    align-self: flex-start;
    border-radius: 25px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.table-container table .table-header-row {
    position: sticky;
    top: 0;
}

.table-container table {
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    cms-component {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .table-container {
        height: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .styled-table {
        table-layout: auto;
        width: 700px;
    }
    .styled-table .tabble-cell {
        word-wrap: break-word;
        white-space: inherit;
        word-wrap: break-word;
        max-width: calc((100vw - 20px) / 8);
    }
}